<div class="profile-container">
    <img src="/assets/user.png" alt="Profile Picture" class="profile-pic">
    <h1>Name: Nikunj Soni</h1>
    <p><strong>Role:</strong> Java | MERN | MERN | Selenium Trainer</p>

    <button (click)="show()" class="btn btn-primary">Show Details</button>
    <div class="container">

      <div *ngIf="flag" style="background-color: lightblue;">
        <p><strong>Location:</strong> Mumbai, India</p>
        <p><strong>Language Known:</strong> English, Hindi, Marathi, Sanskrit</p>
        <p><strong>Technology:</strong> JAVA, MEAN , MERN,DOCKER, KUBERNETES, JENKINS, DEVOPS ,AWS, SPRINGBOOT, REST API</p>
        <p><strong>Contact:</strong> 70XXXXXXX8</p>

      </div>
  
    </div>

    

    
  </div>
  