<p>binding works!</p>

<h4>Step:2 communication from ts to View</h4>
<h2>{{name}}</h2>

<h4>Step:3 Property Binding</h4>

<a [href]="url">Click Here to Open Google</a>

<h3 style="color: red;"><h4>Step:4 Class Binding</h4></h3>


<p [class.myColor]="true">My Data</p>


<h4 [class.myHeader]="true">Students Data</h4>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr><th>Name</th><th>Price</th><th>Availability</th><th>Ratings</th></tr>
        </thead>
        <tbody>
            <!--Class binding Needed: NgDirectives-->
            <tr *ngFor="let p of products">
                <td>{{p.name}}</td>
                <td [style.font-weight]="we">{{p.price}}</td>
                <td>{{p.availability}}</td>
                <td>{{p.rating}}</td>
            </tr>
        </tbody>
    </table>

</div>


<h3 style="color: royalblue;">Step:5 Event Binding</h3>
<div class="container">

    <button (click)="show()" class="btn btn-primary">Show</button>

    <div *ngIf="flag" style="background-color: yellowgreen;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore incidunt rerum veniam blanditiis odio fuga soluta vel numquam voluptatibus porro ut doloribus praesentium dolorum reprehenderit, molestiae labore! Quod, quia illo.
    </div>

</div>