<div class="container">
    <h1>Forms In Angular</h1>
    <h6>There are two Types of Forms in Angular</h6>
     
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="tform" routerLinkActive="active">1. Template Driven Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="rform" >2. Model Driven Form</a>
            </li>
        </ul>
    </nav>
    <div class="row" style="border: 2px solid red; padding: 1rem;">
        <router-outlet></router-outlet>
    </div>
</div>