<div class="container">
  <header>
    <h1>My Angular App 3.0</h1>
  </header>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="aboutus" >About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contactus" >Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="gallary" >Gallary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pipes" >Pipes</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>



 